################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GetALLContacts/.vs/GetALLContacts
/.vs/-Database-Connectivity-19/FileContentIndex
/ContactsWinFormSolution/Contacts/.vs/Contacts
